* {
  box-sizing: border-box;
}

.player-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.main-layout {
  background-color: rgba(246, 246, 247);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px
}

.photo-layout {
  padding: 10px;
  background-color: white;
  border-radius: 3%;

  border: solid rgba(227, 232, 240) 1px;
  text-align: center;
  width: 33%;
}

.player-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-top: 35px
}

.player-info div {
  border-top: solid rgba(246, 246, 247) 3px;
}

.player-photo {
  border: solid rgba(246, 246, 247) 2px;
  display: inline-block;
  border-radius: 100px;
  overflow: hidden;
}


.player-info-headers {
  color: rgba(89, 112, 161);
  font-size: 1rem;
}

.player-info-data {
  font-size: 1.2em;
}

.info-layout {
  display: flex;
  justify-content: space-between ;
}

.stats-player {
  width: 60%;
}

.indicators-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.indicators-info div {
  background-color: white;
  border: solid rgba(227, 232, 240) 1px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.indicator-result {
  font-size: 1.8rem;
  font-weight: 900;
}
.important-data {
  color: #2b6cee
}

.season-data-layout {
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: white;
  border: solid rgba(227, 232, 240) 1px;
  overflow: hidden;
}


.tabs-layout {
  display: flex;
  width: 100%;
  border-bottom: solid rgba(227, 232, 240) 1px;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.button-tab{
  padding: 10px;
  margin-left: 20px;
  border: none;
  background-color: white;
  font-size: large ;
  color: rgba(89, 112, 161);
  display: flex;
  gap: 10px;
  align-items: center;
  text-align:initial;
  white-space: nowrap;
}

.active-tab{
  color: rgba(43, 108, 238);
  border-bottom: rgba(43, 108, 238) 1px solid;
}

.tab-indicators-layout {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.indicator-tab {
  background-color: rgba(246, 246, 247);
  border-radius: 20px;
  text-align: center;
}

.indicator-text {
  font-size: 0.9rem;
  color: rgba(89, 112, 161);
}

.specific-data-league {
  font-size: 1.5rem;
}